.grilla{
    min-height: 100vh;
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 400px);

    grid-template-areas: 
    'area1 area1 area2 area2'
    'area1 area1 area4 area4'
    'area3 area3 area4 area4'
    'area5 area5 area6 area6'
    'area5 area5 area8 area8'
    'area7 area7 area8 area8'
    
    ;
    gap: 10px;
    padding: 10px;
    
}



.caja{
    width: 100%;
    height: 100%;
    @include flex-column-center;
    align-items: center;
    transition: 0.5s;
    
    box-shadow: $box-shadow;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    
    }

}



.c1{

    grid-area: area1;

}
.c2{

    grid-area: area2;

}
.c3{

    grid-area: area3;

}
.c4{

    grid-area: area4;
}
.c5 {
    grid-area: area5;
}
.c6 {
    grid-area: area6;
}
.c7 {
    grid-area: area7;
}
.c8 {
    grid-area: area8;
}
@media screen and (max-width: 768px) {
    .grilla {
    @include flex-column;
    }
}