footer {
    display: flex;
    justify-content: space-between;
    background-color: #24303c;
    padding: 30px;
}

ul {
    list-style: none;
}

.footer_link {
    a {
        color:  white;
        text-decoration: none;
        &:hover {
            color: blue;
        }
    }
    
}
.footer_img {
    padding: 10px;
    height: 70px;
    width: 70px;
}